In [49]:
import pandas as pd
import datetime

In [107]:
uploadedData = pd.read_excel("/mnt/1E52A1F652A1D337/PERSONAL/QUIZ_APP/DOCUMENT/Old_Docs/allowed_enrolls.xlsx")

In [120]:
def convert_to_str(x):
    
    return str(int(x))

def convert_to_dateTime(x):
    
    return datetime.datetime.strptime(x, "%Y-%m-%d %H:%M:%S")

In [111]:
uploadedData.head()

  ENROLLMENT_NUMBER  YEAR  MONTH  DATE START_TIME  END_TIME
0         19bt04001  2021      7    20   23:40:00  23:50:00
1         19bt04002  2021      7    20   23:40:00  23:50:00
2         19bt04003  2021      7    20   23:40:00  23:50:00
3         19bt04004  2021      7    20   23:40:00  23:50:00
4         19bt04005  2021      7    20   23:40:00  23:50:00

In [113]:
uploadedData['YEAR'] = uploadedData['YEAR'].apply(convert_to_str)
uploadedData['MONTH'] = uploadedData['MONTH'].apply(convert_to_str)
uploadedData['DATE'] = uploadedData['DATE'].apply(convert_to_str)
uploadedData['START_TIME'] = uploadedData['START_TIME'].apply(str)
uploadedData['END_TIME'] = uploadedData['END_TIME'].apply(str)
uploadedData['START_TIME'] = uploadedData['YEAR']+"-"+uploadedData['MONTH']+"-"+uploadedData['DATE']+" "+uploadedData['START_TIME']
uploadedData['END_TIME'] = uploadedData['YEAR']+"-"+uploadedData['MONTH']+"-"+uploadedData['DATE']+" "+uploadedData['END_TIME']

In [116]:
uploadedData['START_TIME'] = uploadedData['YEAR']+"-"+uploadedData['MONTH']+"-"+uploadedData['DATE']+" "+uploadedData['START_TIME']
uploadedData['END_TIME'] = uploadedData['YEAR']+"-"+uploadedData['MONTH']+"-"+uploadedData['DATE']+" "+uploadedData['END_TIME']

In [122]:
uploadedData['START_TIME'] = uploadedData['START_TIME'].apply(convert_to_dateTime)
uploadedData['END_TIME'] = uploadedData['END_TIME'].apply(convert_to_dateTime)

In [121]:
uploadedData['END_TIME'] = uploadedData['END_TIME'].apply(convert_to_dateTime)

In [124]:
uploadedData['START_TIME'] > uploadedData['END_TIME']

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
dtype: bool